
body {
    background-color: black;
}

.text {
    font: Courier;
    color: white;
}

.heading {
    color: orange;
    font-size:30px;
}

.text.list, .text.info {
    font-size:18px;
}

.heading.sub {
    font-size:20px;
    text-align:left;
}

div, .heading {
    text-align: center;
}

