/* Stylize the whole page for the entire website */

body {
    background-color: black;
}

/* Stylize all the HTML element consisting of text for all pages */

.text {
    font: Courier;
    color: white;
}

/* Stylize the main heading across all pages */

.heading {
    color: orange;
    font-size: 40px;
    padding: 30px 0;
}

/* Stylize the information and list items for all pages */

.text.list, .text.info {
    font-size: 24px;
    text-decoration: none;
    
}

/* Stylize the subheading for all pages */

.heading.sub {
    font-size:30px;
    text-align:left;
}

/* Stylize the div element and heading across all pages */

div, .heading{
    text-align: center;
}

/* Stylise the universal selector */

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

/* Stylize the class selector */

.index {
      width: 900px;
      margin: 75px auto;
      border: 1px solid white;
}

/* Stylise class selector with pseudoclass */
a:hover{
    background-color: orange;
    color: black;
}

/* Stylise the chain selector */

a {
    padding-bottom: 50px;
    padding-top: 50px;
    display: block;
    border: none;
}

/* Stylise the descendant combinator */

.index li {
    border-bottom: 1px solid white;
}

/* Stylise group selector */

.sublist, .text.sub.heading, .text.info {
    margin: 0 360px;
}

/* Stylise grouping selectors */

ol.sublist, ul.sublist {
    margin-left: 385px;
}

/* Stylise chaining selector */

ol.sublist {
    margin-bottom: 50px;
}