/* Use CSS rule to stylize the heading for all pages*/
/*
h1 {
    font-size: 40px;
}

/* Stylize the headings and subheadings for all pages */
/*
h1, h2 {
    font-weight:600;
}
*/
/* Stylize the whole webpage for the website */

body {
    background-color: black;
}

.text {
    font: Courier;
    color: white;
}

.heading {
    color: orange;
    font-size:30px;
}

.text.list, .text.info {
    font-size:18px;
}

.heading.sub {
    font-size:20px;
    text-align:left;
}

